@media (max-width: 400px) {
  .cart-total {
    font-size: 12px;
  }

  .dropdown-item {
    font-size: 12px;
    padding-left: 10px;
  }
  .card-grid {
    grid-template-columns: repeat(auto-fill, minmax(80px, 1fr));
    gap: 5px;
    padding: 5px;
  }
}

@media screen and (max-width: 600px) {
  .card-grid {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 700px) {
  .cart-items-list {
    width: auto;
    padding: 30px;
  }
  .cart-item {
    padding: 5px;
  }
  .quantity {
    width: 59px;
    margin: 5px 6px;
  }
  .categories-section > ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    flex-direction: column;
  }
  .categories-section > ul li {
    padding: 10px;
  }
}
